@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .navbar {
            overflow: hidden;
            background-color: #2e3b4b;
            font-family: Arial, Helvetica, sans-serif;
        }

            .navbar a {
                float: left;
                font-size: 18px;
                color: white;
                text-align: center;
                padding: 13px 14px;
                text-decoration: none;
            }

        .dropdown {
            float: right;
            overflow: hidden;
        }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color: red;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #ff7e66;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>

    <script>
        var i = "abc";
    </script>
    <div class="navbar">
        <a href="http://localhost:50730/LabDepartment/HomePage/"><i class="fa fa-home">&nbsp; Lab Department</i></a>
        <a href="http://localhost:50730/LabDepartment/"><i class="fa fa-eye"> &nbsp;View Reports</i></a>
        <a href="http://localhost:50730/LabDepartment/Index"><i class="fa fa-flask">&nbsp;View Reports</i></a>
        <div class="dropdown ">
            <button class="dropbtn">
                Profile
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="http://localhost:50730/Central/Index">Log Out</a>
                <a href="#">Settings</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>




    @RenderSection("Scripts", required: false)

</body>
</html>

