@model Hospital.Modules.Doctors_Profile.Models.LabReportRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        p.ex1 {
            border: 1px solid red;
            padding-left: 1em;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>SearchPatient</title>
    <script>
        function callWebApi() {

            var param = document.getElementById("usr").value;
            if (param.length < 5) {
                // alertify.alert("Please Enter A Valid Patient ID...");
                swal("Not Found !", "Invalid Patient ID", "warning");
            }
            else {
                param = 962950019;
                $.get("http://localhost:50730/DoctorsProfile/SearchPatient", { id: param })
                    .done(function (data) {
                        document.getElementById('Id').innerHTML = data.id;
                        document.getElementById('nic').innerHTML = data.nicNo;
                        document.getElementById('patientName').innerHTML = data.patientName;
                        document.getElementById('LabStatus').innerHTML = data.labStatus;
                        document.getElementById('DoctorStatus').innerHTML = data.doctorStatus;
                        document.getElementById('LabReport').innerHTML = data.labReport;
                        document.getElementById('date').innerHTML = data.date;
                        // document.getElementById('labNo').innerHTML = data.labNo;
                        document.getElementById('SpecialistName').innerHTML = data.SpecialistName;
                        document.getElementById('description').innerHTML = data.description;
                    });

            }

           
            // alertify.alert("Message");
            //swal("Success", "New Student Was Created", "success");
            // console.log("done");

        }





    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div>
        <div class="w3-row">
            <div class="w3-col m3 w3-padding-large ">
                    
                <p>
                    <input type="text" onfocus="this.value=''" placeholder="Enter Patient ID..." onchange="myFunction()" class="form-control" id="usr">
                </p>               
            </div>
            <div class="w3-col m3 w3-left w3-padding-24">
                    <button onclick="javascript:callWebApi();" class="w3-button w3-blue w3-button-small">Search</button>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>ID -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="Id"></p>
            </div>



            <div class="w3-col m2 w3-left w3-padding-small">
                <p>Nic Number</p>
            </div>
            <div class="w3-col m2 w3-left  w3-padding-small">
                <p id="nic"></p>
            </div>


            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>Patient Name -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="patientName"></p>
            </div>

        </div>


        <div class="w3-row">


            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>LabStatus -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="LabStatus"></p>
            </div>



            <div class="w3-col m2 w3-left w3-padding-small">
                <p>DoctorStatus</p>
            </div>
            <div class="w3-col m2 w3-left  w3-padding-small">
                <p id="DoctorStatus"></p>
            </div>


            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>LabReport -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="LabReport"></p>
            </div>

        </div>


        <div class="w3-row">


            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>Date -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="date"></p>
            </div>






            <div class="w3-col w3-left m2  w3-padding-small ">
                <p>SpecialistName -</p>
            </div>
            <div class="w3-col m2 w3-left w3-padding-small ">
                <p id="SpecialistName"></p>
            </div>

            <div class="w3-col m2 w3-left w3-padding-small">
                <p>description</p>
            </div>
            <div class="w3-col m2 w3-left  w3-padding-small">
                <p id="description"></p>
            </div>

        </div>




    </div>
       
         
       
</body>
</html>
