
@{
    Layout = "/Views/Shared/sidemenu.cshtml"; ;
}

<!DOCTYPE html>
<style>
    .div1 {
        width: 1400px;
        float: right;
        border: 0px solid blue;
        box-sizing: border-box;
    }

    .div2 {
        /*collapsble*/
        width: 700px;  
        float:inherit;
        position:relative;
        left:150px;
        border: 0px solid blue;
        box-sizing: border-box;
    }

    .box {
        float: left;
        width: 280px;
    }

    body {
        background-color: #DAE3F5;
    }

    /*collapsble */

    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>



<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>



    <div class="div1">

        <div style="padding-left:20px">

            <div class="box w3-container w3-large  ">
                <div class="w3-blue w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2><b>@ViewBag.no <a><i class="fa fa-bell"></i></a></h2></b>
                        <h4>Pending Lab Reports</h4>
                    </p>
                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-red w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2><b>@ViewBag.finishedReportCount <a><i class="fa fa-flask"></i></a></h2></b>
                        <h4>Recived Lab Reports</h4>
                    </p>
                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-yellow w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>30</h2>
                        <h4>Number of Patients</h4>
                    </p>

                </div>
            </div>

            <div class="box w3-container w3-large ">
                <div class="w3-green w3-large w3-hover-shadow w3-padding-60 w3-center w3-round-medium ">
                    <p>
                        <h2>50</h2>
                        <h4>Pending Lab Reports</h4>
                    </p>

                </div>
            </div>

        </div>
    </div>
    <br />
    <br/>

    <div class="div2">

        <br />
     
        <button class="collapsible">Patient Directory</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <p>Collapsible Set:</p>
        <button class="collapsible">Open Section 1</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="collapsible">Open Section 2</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="collapsible">Open Section 3</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>



        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>



    </div>

    
          


   





</body>
</html>



