@model Hospital.Modules.PatientManagement.Models.PatientDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/a.cshtml";
}

<h2>Create</h2>

<h4>PatientDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NicNo" class="control-label"></label>
                <input asp-for="NicNo" class="form-control" />
                <span asp-validation-for="NicNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wardno" class="control-label"></label>
                <input asp-for="Wardno" class="form-control" />
                <span asp-validation-for="Wardno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Cin" class="control-label"></label>
                <input asp-for="Date_Cin" class="form-control" />
                <span asp-validation-for="Date_Cin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telephone" class="control-label"></label>
                <input asp-for="telephone" class="form-control" />
                <span asp-validation-for="telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
