@model Hospital.Modules.Doctors_Profile.Models.LabReportRequest

    @{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/sidemenu.cshtml";
    }


    <!Doctype html>
    <html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>

            body {
                /*background-color: #CBC7F0;*/
            }
            body{
                text-decoration-color:red;
            }
            .top10 {
                margin-top: 5px;
            }

            .ex1 {
                border: 0px solid red;
                padding-left: 150px;
            }

            .ex2 {
                border: 0px solid red;
                padding-left: 15px;
            }
        </style>
        <script>


            src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" 
        </script>

        <script>
            function ValidationNic() {

                var nicNo = document.getElementById("nicNo").value;
              

                if (nicNo.length != 9) {
                    document.getElementById("error").innerHTML = "Invalid Nic Number";
                }
                else {
                    document.getElementById("error").innerHTML = "";
                }
            }

            function ValidationPatientName() {

                var patientName = document.getElementById("patientName").value;


                if (patientName.length > 0) {
                    document.getElementById("patientName").innerHTML = "Invalid Patient Number";
                }
                else {
                    document.getElementById("patientName").innerHTML = "";
                }
            }


                 function callMethod() {
                     swal("Invalid !", "Invalid Patient ID", "warning");

                 }
        </script>
    </head>

   
   

    <body>
        <div class="row top10 col-md">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                       
                    </header>

                    <div class="w3-container">

                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row top10 col-md-offset-1">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="nicNo" class="control-label"></label>
                                        <input asp-for="nicNo" oninput="javascript:ValidationNic();" id="nicNo" class="form-control" />
                                        <span asp-validation-for="nicNo" id="error" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="patientName" class="control-label"></label>
                                        <input asp-for="patientName" id="patientName" oninput="javascript:ValidationPatientName();" class="form-control" />
                                        <span asp-validation-for="patientName" id="patientName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="DoctorName" class="control-label"></label>
                                        <input asp-for="DoctorName" value="@ViewBag.userName" ReadOnly="readonly" class="form-control" />
                                        <span asp-validation-for="DoctorName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-offset-1">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="LabStatus" class="control-label"></label>
                                        <input asp-for="LabStatus" value="Pending" ReadOnly="readonly" class="form-control" />
                                        <span asp-validation-for="LabStatus" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="LabType" class="control-label"></label>
                                        <input asp-for="LabType" class="form-control" />
                                        <span asp-validation-for="LabType" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="DoctorStatus" class="control-label"></label>
                                        <input asp-for="DoctorStatus" class="form-control" />
                                        <span asp-validation-for="DoctorStatus" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-offset-1">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="SpecialistName" class="control-label"></label>
                                        <input asp-for="SpecialistName" value="Not Mentioned" class="form-control" />
                                        <span asp-validation-for="SpecialistName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="date" class="control-label"></label>
                                        <input asp-for="date" class="form-control" />
                                        <span asp-validation-for="date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="labNo" class="control-label"></label>
                                        <input asp-for="labNo" class="form-control" />
                                        <span asp-validation-for="labNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-md-offset-1">
                                <div class="col-sm-4 ">
                                    <div class="form-group">
                                        <label asp-for="LabReport" class="control-label"></label>
                                        <input asp-for="LabReport" value="Pending" ReadOnly="readonly" class="form-control" />
                                        <span asp-validation-for="LabReport" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label asp-for="description" class="control-label"></label>
                                        <input asp-for="description" value="Pending" ReadOnly="readonly" class="form-control" />
                                        <span asp-validation-for="description" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="w3-row ex1 ">
                                <div class="w3-col m1   ">
                                    <input type="submit" value="Send Report" onclick="javascript:callMethod();" class="btn btn-primary" />
                                </div>
                                <div class="w3-col m1 ex2 ">                                    
                                        <input type="reset"  value="Clear" class="btn btn-success" />                                  
                                </div>

                            </div>

                        </form>



                    </div>
                </div>
            </div>
        </div>

       


    </body>
    </html>
   


