@model Hospital.Modules.Doctors_Profile.Models.LabReportRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/a.cshtml";
}

<h2>Edit</h2>

<h4>LabReportRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nicNo" class="control-label"></label>
                <input asp-for="nicNo" class="form-control" />
                <span asp-validation-for="nicNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="patientName" class="control-label"></label>
                <input asp-for="patientName" class="form-control" />
                <span asp-validation-for="patientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" ReadOnly="readonly" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabStatus" class="control-label"></label>
                <input asp-for="LabStatus" ReadOnly="readonly" class="form-control" />
                <span asp-validation-for="LabStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabType" class="control-label"></label>
                <input asp-for="LabType" class="form-control" />
                <span asp-validation-for="LabType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorStatus" class="control-label"></label>
                <input asp-for="DoctorStatus" class="form-control" />
                <span asp-validation-for="DoctorStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="labNo" class="control-label"></label>
                <input asp-for="labNo" class="form-control" />
                <span asp-validation-for="labNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialistName" class="control-label"></label>
                <input asp-for="SpecialistName" class="form-control" />
                <span asp-validation-for="SpecialistName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="LabReport" class="control-label"></label>
                <input asp-for="LabReport" value="Pending" ReadOnly="readonly" class="form-control" />
                <span asp-validation-for="LabReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
