@model Hospital.Modules.InvoiceDetails.Models.Invoice

@{
    Layout = "~/Views/Invoices/_InvoiceLayout.cshtml";
}


<hr />
@using (Html.BeginForm("cal", "Invoices", FormMethod.Post))
{
<div class="row" style="background-color:whitesmoke;width:450px;height:600px;margin: auto;align-content:center">
    <div class="col-md-12">
        <form asp-action="cal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />

            <div class="form-group col-sm-10">
                <label asp-for="PatienID" class="control-label"></label>
                @Html.DropDownList("PatienID", "Select patient")
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="PatienID" value="@Model.PatienID" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Total_Amount" class="control-label"></label>
                <input asp-for="Total_Amount" class="form-control" />
                <span asp-validation-for="Total_Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pay_type" class="control-label"></label>
                <input asp-for="Pay_type" class="form-control" />
                <span asp-validation-for="Pay_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
















