@model Hospital.Modules.PatientManagement.Models.PatientDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:lightslategray">
    <h2>Edit</h2>

    <h4>PatientDetails</h4>
    <hr />

    <div>
        <form method="post" asp-action="Index">
            <button style="float:right; color:white" class="btn btn-primary" onclick="fowrdtocreate" type="submit">Back to List</button>
        </form>
        <br />
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="patientName" class="control-label"></label>
                    <input asp-for="patientName" class="form-control" />
                    <span asp-validation-for="patientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NicNo" class="control-label"></label>
                    <input asp-for="NicNo" class="form-control" />
                    <span asp-validation-for="NicNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wardno" class="control-label"></label>
                    <input asp-for="Wardno" class="form-control" />
                    <span asp-validation-for="Wardno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date_Cin" class="control-label"></label>
                    <input asp-for="Date_Cin" class="form-control" />
                    <span asp-validation-for="Date_Cin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telephone" class="control-label"></label>
                    <input asp-for="telephone" class="form-control" />
                    <span asp-validation-for="telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group hidden-sm">
                    <label asp-for="avalablity" class="control-label" style="display:none"></label>
                    <input asp-for="avalablity" class="form-control" value="Check-in" style="display:none" />
                    <span asp-validation-for="avalablity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" style="background-color:#1082AC" />
                </div>
            </form>
        </div>
    </div>

</body>
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
