@model Hospital.Modules.Wardddata.Models.Warddatas

@{
    ViewData["Title"] = "EditWardData";
}

<body style=" background-color:lightslategray">

    <h2>Edit Ward Details</h2>

    @*<h4>Warddatas</h4>*@
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="wardno" class="control-label"></label>
                    <input asp-for="wardno" class="form-control" />
                    <span asp-validation-for="wardno" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="date" class="control-label"></label>
                    <input asp-for="date" class="form-control" />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <input asp-for="status" class="form-control" />
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoOfBed" class="control-label"></label>
                    <input asp-for="NoOfBed" class="form-control" />
                    <span asp-validation-for="NoOfBed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class=" btn btn-primary"><b><<< </b>Back</a>
                </div>
            </form>
        </div>
    </div>
</body>

@*<div>
    <a asp-action="Index" class=" btn btn-primary">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
