
@{
    ViewData["Title"] = "mainView";
}

<div>
    <div>
        @*<p>
                <h3><a href="http://localhost:50730/PrescriptionDetails" target="iframe_a">Prescription List    </a></h3>
                </h3><a href="http://localhost:50730/PrescriptionDetails/Create" target="iframe_a">Add Prescription</a></h3>
            </p>*@
        <br /><br />
        <iframe style="border:solid" height="800px" width="100%" src="http://localhost:50730/BindMedicationPrescriptions" name="iframe_a"></iframe>
    </div>
</div>