@model Hospital.Modules.StaffData.Models.Staffdatas

@{
    ViewData["Title"] = "Create";
}

<body style=" background-color:lightslategray">

    <h2>Add Staff Attendance</h2>

    @*<h4>Staffdatas</h4>
        <hr />*@
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Staffid" class="control-label"></label>
                    <input asp-for="Staffid" placeholder="Enter staff ID" class="form-control" />
                    <span asp-validation-for="Staffid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" placeholder="Enter Employee Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" placeholder="YYYY/MM/DD" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Attendance" /> @Html.DisplayNameFor(model => model.Attendance)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a asp-action="Index" class=" btn btn-primary"><b><<< </b>Back</a>
                    <input type="reset" value="Reset" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
