
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Button Styles</h2>
        <form asp-action="http://localhost:50730/">
            <a href="http://localhost:50730/DoctorsProfile/Index" class="btn btn-info" role="button">Doctors Profile</a>
            <a href="http://localhost:50730/LabDepartment/HomePage" class="btn btn-info" role="button">Lab Department</a>

        </form>

    </div>
    



</body>
</html>
